<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Bengalore House Price</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<center>
<body><br>
  &emsp;&emsp;&emsp;&emsp;{{ prediction_text }}
<h5 style="color:violet;">&emsp;&emsp;&emsp;&emsp;&emsp;                     Predict Bangalore House Price</h5>
      
 <div class="login">
  
   <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict') }}"method="post">
      <!-- <input type="number" name="area_type" placeholder="area_type" required="required" /> -->
     Area Type<br>
          <select name="area_type"  style="width: 400px;height: 31px;">
              <option style="color:black" value="4">select one option</option>
              <option style="color:black" value="0">Super built-up  Area</option>
              <option style="color:black" value="1">Built-up  Area</option>
              <option style="color:black" value="2">Plot  Area</option>
              <option style="color:black" value="3">Carpet  Area</option>
          </select>
      <br>

        <!-- <input type="number" name="availability" placeholder="availability" required="required" /> -->
      Availability<br>
        <select name="availability" style="width: 400px;height: 31px;">
              <option style="color:#131339;" value="4">select one option</option>
              <option style="color:black" value="0">Ready To Move</option>
              <option style="color:black" value="1">Immediate Possession</option>
              <option style="color:black" value="2">Not Available</option>
          </select>
      <br>

    Location<br>
 <select name="location" style="width: 400px;height: 31px;">
    <option style="color:#131339;" value="4">select one option</option>
              <option value="796">Whitefield </option>
              <option value="657">Sarjapur  Road</option>
              <option value="261">Electronic City</option>
              <option value="422">Kanakpura Road</option>
              <option value="801">Yelahanka</option>
              <option value="750">Uttarahalli</option>
              <option value="615">Raja Rajeshwari Nagar</option>
              <option value="727">Thanisandra</option>
              <option value="518">Marathahalli</option>
              <option value="324">Hebbal</option>
              <option value="124">Bannerghatta Road</option>
              <option value="319">Haralur Road</option>
              <option value="332">Hennur Road</option>
              <option value="262">Electronic City Phase II</option>
              <option value="36">7th Phase JP Nagar</option>
              <option value="181">Chandapura</option>
              <option value="138">Bellandur</option>
              <option value="395">KR Puram</option>
              <option value="135">Begur Road</option>
              <option value="338">Rajaji Nagar</option>
              <option value="617">Hoodi</option>
              <option value="805">Sarjapur</option>
              <option value="656">Yeshwanthpur</option>
              <option value="321">Harlur</option>
              <option value="426">Kasavanhalli</option>
              <option value="372">Jakkur</option>
              <option value="115">Banashankari</option>
              <option value="576">Old Madras Road</option>
              <option value="264">Electronics City Phase 1</option>
              <option value="439">Kengeri</option>
              <option value="461">Kothanur</option>
              <option value="343">Hormavu</option>
              <option value="627">Ramamurthy Naga</option>
              <option value="458">Varthur</option>
              <option value="759">Koramangala</option>
              <option value="367">JP Nagar</option>
              <option value="730">Thigalarapalya</option>
              <option value="718">TC Palaya</option>
              <option value="352">HSR Layout</option>
              <option value="165">Budigere</option>
              <option value="313">Hennur </option>
              <option value="344">Hosa Road</option>
              <option value="329">Hulimavu</option>
              <option value="51">Kaggadasapura </option>
              <option value="625">8th Phase JP Nagar </option>
              <option value="38">Ramagondanahalli</option>
              <option value="406">Akshaya Nagar</option>
              <option value="538">Mysore Road</option>
              <option value="385">Jigani </option>
              <option value="350">Hosur Road</option>

              <option value="611">Rachenahalli</option>
              <option value="510">Malleshwaram</option>
              <option value="156">Nagarbhavi</option>
              <option value="546">Bisuvanahalli</option>
              <option value="474">Kundalahalli</option>
              <option value="146">Vittasandra</option>
              <option value="791">Bhoganhalli</option>
              <option value="164">CV Raman Nagar</option>
              <option value="172">Brookefield</option>
              <option value="361">Indira Nagar</option>
              <option value="341">Horamavu Agara</option>
              <option value="112">Kudlu Gate</option>
              <option value="291">Gottigere</option>
              <option value="467">Balagere</option>
              <option value="326">Hegde Nagar</option>
              <option value="89">Attibele</option>
              <option value="779">Jalahalli</option>
              <option value="375">Vijayanagar</option>
              <option value="158">Bommasandra</option>
              <option value="31">Devanahalli</option>
              <option value="802">Subramanyapura</option>
              <option value="708">Channasandra</option>
              <option value="183">Yelahanka New Town</option>
              <option value="221">5th Phase JP Nagar</option>
              <option value="41">9th Phase JP Nagar</option>
              <option value="586">Kengeri Satellite Town</option>
              <option value="441">Panathur</option>
              <option value="421">Kanakapura</option>
              <option value="70">Bommanahalli</option>
              <option value="157">Anekal</option>
              <option value="647">Sahakara Nagar</option>
              <option value="404">Kadugodi</option>
              <option value="575">Old Airport Road</option>          <option value="298">Green Glen Layout</option>
              <option value="129">Basavangudi</option>
              <option value="776">Vidyaranyapura</option>
              <option value="194">Chikkalasandra</option>
              <option value="267">Frazer Town</option>
              <option value="234">Ambedkar Nagar</option>
              <option value="720">Ananth Nagar</option>
              <option value="740">Tumkur Road</option>
              <option value="60">Dodda Nekkundi</option>
              <option value="68">Talaghattapura</option>
              <option value="448">Hebbal Kempapura</option>
              <option value="689">Kodichikkanahalli</option>
              <option value="466">Singasandra</option>
              <option value="325">Kudlu</option>
              <option value="103">BTM 2nd Stage</option>
              <option value="246">Lakshminarayana Pura</option>
              <option value="484">Doddathoguru</option>

              <option value="342">Horamavu Banaswadi</option>
              <option value="419">Kammasandra</option>
              <option value="201">Choodasandra</option>
              <option value="117">R.T. Nagar</option>
              <option value="602">Babusapalaya</option>
              <option value="107">Banashankari Stage III</option>
              <option value="409">Kogilu</option>
              <option value="520">Iblur Village</option>
              <option value="453">Mahadevpura</option>
              <option value="358">Kothannur</option>
              <option value="460">Margondanahalli</option>
              <option value="501">Kalena Agrahara</option>
              <option value="346">Gunjur</option>
              <option value="305">Anandapura</option>
              <option value="667">Seegehalli</option>
              <option value="12">1st Phase JP Nagar</option>
              <option value="66">Hosakerehalli</option>
              <option value="62">Ambalipura</option>
              <option value="251">Domlur</option>
              <option value="580">EPIP Zone</option>
              <option value="633">Rayasandra</option>
              <option value="155">Amruthahalli</option>
              <option value="58">Binny Pete</option>
              <option value="259">Padmanabhanagar</option>
              <option value="500">Magadi Road</option>
              <option value="471">Munnekollal</option>
              <option value="432">Kumaraswami Layout</option>
              <option value="47">2nd Stage Nagarbhavi</option>
              <option value="79">Abbigere</option>
              <option value="19">Kaval Byrasandra</option>
              <option value="534">Kambipura</option>
              <option value="416">Ardendale</option>
              <option value="430">Kathriguppe</option>
              <option value="491">Bommasandra Industrial Area</option>
              <option value="33">Battarahalli</option>
              <option value="159">6th Phase JP Nagar</option>
              <option value="133">Poorna Pragna Layout</option>
              <option value="594">Lingadheeranahalli</option>
              <option value="123">Bannerghatta</option>
              <option value="301">Pai Layout</option>
              <option value="581">Gubbalala</option>
              <option value="692">HBR Layout</option>
              <option value="412">HRBR Layout</option>
              <option value="349">Thubarahalli</option>
              <option value="309">Somasundara Palya</option>
              <option value="734">Hoskote</option>
              <option value="312">Kalyan nagar</option>
              <option value="116">Kereguddadahalli</option>
              <option value="275">Parappana Agrahara</option>
              <option value="652">Judicial Layout</option>
              
              <option value="389">Sanjay nagar</option>
              <option value="442">Banashankari Stage II</option>
              <option value="588">Arekere</option>
              <option value="81">Garudachar Palya</option>
              <option value="695">Malleshpalya</option>
              <option value="105">OMBR Layout</option>
              <option value="407">Sector 2 HSR Layout</option>
              <option value="509">Ulsoor</option>
              <option value="573">Sarjapura - Attibele Road</option>
              <option value="747">Sonnenahalli</option>
              <option value="659">Kaggalipura</option>
              <option value="664">BTM Layout</option>
              <option value="134">Anjanapura</option>
              <option value="154">Kasturi Nagar</option>
              <option value="437">Begur</option>
              <option value="72">Billekahalli</option>
              <option value="800">Yelachenahalli</option>
              <option value="507"> Devarachikkanahalli</option>
              <option value="428">Kenchenahalli</option>
              <option value="120">Nagavara</option>
              <option value="1">Mallasandra</option>
              <option value="549">Banaswadi</option>
              <option value="376">BEML Layout</option>
              <option value="535">Chamrajpet</option>
              <option value="99">Basaveshwara Nagar</option>
              <option value="253">Bommenahalli</option>
              <option value="666">Neeladri Nagar</option>
              <option value="710">Dommasandra</option>
              <option value="131">Kannamangala</option>
              <option value="160">Sector 7 HSR Layout</option>
              <option value="179">Jalahalli East</option>
              <option value="563">Sultan Palaya</option>
              <option value="423">Murugeshpalya</option>
              <option value="357">Vasanthapura</option>
              <option value="212">ITPL</option>
              <option value="118">Chikka Tirupathi</option>
              <option value="449">Giri Nagar</option>
              <option value="190">Kodigehaali</option>
              <option value="282">Kaikondrahalli</option>
              <option value="764">Cunningham Road</option>
              <option value="408">Banashankari Stage V</option>
              <option value="547">Gollarapalya Hosahalli</option>
              <option value="655">Yelenahalli</option>
              <option value="10">Kammanahalli</option>
              <option value="529">Prithvi Layout</option>
              <option value="403">Nagasandra</option>
              <option value="288">Tindlu</option>
              <option value="191">Dasanapura</option>
              <option value="760">NRI Layout</option>
              <option value="216">LB Shastri Nagar</option>

              <option value="624">Sarakki Nagar</option>
              <option value="803">Rajiv Nagar</option>
              <option value="478">Doddakallasandra</option>
              <option value="418">Kadubeesanahalli</option>
              <option value="241">ISRO Layout</option>
              <option value="540">Mico Layout</option>
              <option value="355">Chikkabanavar</option>
              <option value="738">1st Block Jayanagar</option>
              <option value="599">Varthur Road</option>
              <option value="543">Naganathapura</option>
              <option value="208">Shivaji Nagar</option>
              <option value="565">Bharathi Nagar</option>
              <option value="145">Kodihalli</option>
              <option value="451">Shampura</option>
              <option value="670">Cooke Town</option>
              <option value="236">Benson Town</option>
              <option value="141">Badavala Nagar</option>
              <option value="210">Nehru Nagar</option>
              <option value="681">Cox Town</option>
              <option value="108">Doddaballapur</option>
              <option value="539">Konanakunte</option>
              <option value="215">2nd Phase Judicial Layout</option>
              <option value="125">Sompura</option>
              <option value="694">GM Palaya</option>
              <option value="397">AECS Layout</option>
              <option value="591">Dasarahalli</option>
              <option value="95">Thyagaraja Nagar</option>
              <option value="29">Narayanapura</option>
              <option value="218">Dairy Circle</option>
              <option value="119">Nagavarapalya</option>
              <option value="454">B Narayanapura</option>
              <option value="43">BTM 1st Stage</option>
              <option value="560">KUDLU MAIN ROAD</option>
              <option value="542">NGR Layout</option>
              <option value="550">Peenya</option>
              <option value="592">Banashankari Stage VI</option>
              <option value="17">Chennammana Kere</option>
              <option value="270">Nagadevanahalli</option>
              <option value="102">5th Block Hbr Layout</option>
              <option value="736">Pattandur Agrahara</option>
              <option value="522">Basapura</option>
              <option value="186">Marsur</option>
              <option value="121">Dollars Colony</option>
              <option value="249">Kalkere</option>
              <option value="793">Basavanapura</option>
              <option value="128">Akshayanagara East</option>
              <option value="410">Kaverappa Layout</option>
              <option value="425">Sathya Sai Layout</option>
              <option value="307">Banjara Layout</option>
              <option value="354">Dodsworth Layout</option>
               
              <option value="53">Kodbisanhalli</option>
              <option value="433">Ejipura</option>
              <option value="674">HAL 2nd Stage</option>
              <option value="447">Vishwanatha Nagenahalli</option>
              <option value="114">Kamakshipalya</option>
              <option value="787">Shanti Nagar</option>
              <option value="786">Karuna Nagar</option>
              <option value="247">Vishveshwarya Layout</option>
              <option value="662">Volagerekallahalli</option>
              <option value="260">Huskur</option>
              <option value="646">Richmond Town</option>
              <option value="638">Banagiri Nagar</option>
              <option value="413">Sadashiva Nagar</option>
              <option value="52">Gollahalli</option>
              <option value="16">Ittamadu</option>
              <option value="732">Mathikere</option>
              <option value="182">Vasanth nagar</option>
              <option value="287">Green View Layout</option>
              <option value="762">Laggere</option>
              <option value="658">Gopalkrishna Nagar</option>
              <option value="503">Vijaya Bank Layout</option>
              <option value="351">Ramakrishnappa Layout</option>
              <option value="668">Cholanayakanahalli</option>
              <option value="299">Akshaya Vana</option>
              <option value="554">Cambridge Layout</option>
              <option value="525">HOSUR MAIN ROAD</option>
              <option value="200">Kundalahalli Colony</option>
              <option value="173">Thirumenahalli</option>
              <option value="364">Nallurhalli</option>
              <option value="311">2nd Phase JP Nagar</option>
              <option value="475">Kodigehalli</option>
              <option value="778">Sarjapur Road,</option>
              <option value="544">Mahalakshmi Layout</option>
              <option value="219">Nagappa Reddy Layout</option>
              <option value="626">Hoysalanagar</option>
              <option value="777">Basaveshwara Nagar Yelahanka</option>
              <option value="290">Chandra Layout</option>
              <option value="168">Seetharampalya</option>
              <option value="788">Defence Colony</option>
              <option value="479">Byatarayanapura</option>
              <option value="132">Vishwapriya Layout</option>
              <option value="450">Vignana Nagar</option>
              <option value="306">Manayata Tech Park</option>
              <option value="499">Yemlur</option>
              <option value="231">Abbaiah Reddy Layout</option>
              <option value="566">Sector 1 HSR Layout</option>
              <option value="756">ITI Layout</option>
              <option value="9">Bhuvaneshwari Nagar</option>
              <option value="678">2nd Block Hrbr Layout</option>
              <option value="578">Madiwala</option>
            
              <option value="91">Jakkur Plantation</option>
              <option value="334">Channasandra Layout</option>
              <option value="497">Reliaable Tranquil Layout</option>
              <option value="26">Hennur Gardens</option>
              <option value="634">1st Block Koramangala</option>
              <option value="28">Nelamangala</option>
              <option value="14">Tejaswini Nagar</option>
              <option value="775">MS Pallya</option>
              <option value="109">Wilson Garden</option>
              <option value="148">Doctors Layout</option>
              <option value="798">8th block Koramangala</option>
              <option value="11">4th T block Jayanagar</option>
              <option value="273">4th Block Koramangala</option>
              <option value="235">Singapura Village</option>
              <option value="46">Shikaripalya</option>
              <option value="245">Gunjur Palya</option>
              <option value="623">Bagalakunte</option>
              <option value="39">Outer Ring Road East</option>
              <option value="184">Austin Town</option>
              <option value="688">1st Block HRBR Layout</option>
              <option value="804">Doddakammanahalli</option>
              <option value="242">Hessarghatta</option>
              <option value="725">Doddanekundi</option>
              <option value="663">Dodda Nekkundi Extension</option>
              <option value="331">Kattigenahalli</option>
              <option value="356">Ganga Nagar</option>
              <option value="431">Victoria Layout</option>
              <option value="373">Vajarahalli</option>
              <option value="511">Rajiv Gandhi Nagar</option>
              <option value="228">Byrasandra </option>
              <option value="492">Jakkasandra Extension</option>
              <option value="399">Maruthi Sevanagar</option>
              <option value="523">Nagawara Junction</option>
              <option value="44">3rd Block Hrbr Layout</option>
              <option value="420">A Narayanapura</option>
              <option value="683">Hosahalli Extension</option>
              <option value="170">Maruthi Nagar</option>
              <option value="42">Mahalakshmi Puram</option>
              <option value="176">Ramanjaneyanagar</option>
              <option value="675">Bagalur</option>
              <option value="531">Jayanagar</option>
              <option value="527">New Gurappana Palya</option>
              <option value="337">Pattanagere  </option>
              <option value="239">Nagaraja Garden</option>
              <option value="110">Medahalli</option>
              <option value="139">Hongasandra</option>
              <option value="702">Lingarajapuram</option>
              <option value="533">Kanaka Nagar</option>
              <option value="516">Richards Town</option>
              <option value="59">Dodda Banaswadi</option>

              <option value="630">Doddabommasandra</option>
              <option value="614">Bank Of Baroda Colony</option>
              <option value="590">Shanthala Nagar</option>
              <option value="86">Raghuvanahalli</option>
              <option value="704">Coconut Grove Layout</option>
              <option value="672">Gopalapura</option>
              <option value="469">Srirampuram </option>
              <option value="574">Bellari Road</option>
              <option value="206">1st Stage Indira Nagar</option>
              <option value="640">Carmelaram</option>
              <option value="294">Devasthanagalu</option>
              <option value="504">Nayandanahalli</option>
              <option value="374">Jakkuru Layout</option>
              <option value="382">Govindpura</option>
              <option value="568">Basavanagara</option>
              <option value="552">Shantiniketan Layout</option>
              <option value="528">Kadabagere</option>
              <option value="169">Jalahalli West</option>
              <option value="637">Roopena Agrahara</option>
              <option value="339">Keshava Nagar</option>             <option value="377">Rustam Bagh Layout</option>
              <option value="524">Devi Nagar</option>
              <option value="561">Siddapura</option>
              <option value="545">Meenakunte</option>
              <option value="443">AGS Layout</option>
              <option value="551">Kacharakanahalli</option>
              <option value="567">Nagondanahalli</option>
              <option value="330">Hennur Bande</option>
              <option value="232">Byrathi Village</option>
              <option value="371">New Thippasandra</option>
              <option value="13">Srinivasa Nagar</option>
              <option value="21">Off Sarjapur Road,</option>
              <option value="227">Motappa Layout</option>
              <option value="401">Hoodi Circle,</option>
              <option value="127">Munivenkatppa Layout</option>
              <option value="122">Ashwathnagar</option>
              <option value="289">Kumara Park</option>
              <option value="639">Maragondanahalli</option>
              <option value="345">Ambedkar Colony</option>
              <option value="495">JCR Layout</option>
              <option value="755">Doopanahalli</option>
              <option value="243">Ngef Layout</option>
              <option value="595">Vasantha Vallabha Nagar</option>
              <option value="703">Kodathi</option>
              <option value="723">Raja Rajeshwari Nagar 5th Stage</option>
              <option value="487">Doddabanahalli</option>
              <option value="411">Nyanappana Halli</option>
              <option value="783">RMV 2nd Stage</option>
              <option value="682">Dooravani Nagar</option>
              <option value="770">Vaishnavi Layout</option>
              
              <option value="83">Silk Board</option>
              <option value="714">Kamala Nagar</option>
              <option value="719">Sidedahalli</option>
              <option value="35">Udayapur Village</option>
              <option value="571">Vinayaka Nagar</option>
              <option value="27">Divya Unnathi Layout</option>
              <option value="40">Lake City</option>
              <option value="490">Shree Ananth Nagar Layout</option>
              <option value="163">Laxmi Sagar Layout</option>
              <option value="0">Langford Town</option>
              <option value="763">Srirampura</option>
              <option value="153">4th Block Jayanagar</option>
              <option value="400">9th Block Jayanagar</option>
              <option value="185">6th block Koramangala</option>
              <option value="384">Venkatapura</option>
              <option value="405">4th Phase JP Nagar</option>
              <option value="209">Avalahalli</option>
              <option value="758">OLd Gurappanapalya</option>
              <option value="360">Ashwath Nagar</option>
              <option value="336">Geddalahalli</option>
              <option value="15">Ramamurthy Nagar Extension</option>
              <option value="237">Tala Cauvery Layout</option>
              <option value="55">Lavelle Road</option>
              <option value="393">Virat Nagar</option>
              <option value="85">tc.palya</option>
              <option value="167">Alfa Garden Layout</option>
              <option value="61">Tavarekere</option>
              <option value="417">HMT Layout </option>
              <option value="489">Attur Layout</option>
              <option value="477">Doddakannelli</option>
              <option value="605">Kuvempu Nagar</option>
              <option value="505">Kada Agrahara</option>
              <option value="685">Jeevan bima nagar</option>
              <option value="470"> Devarabeesana Halli</option>
              <option value="366">Kallumantapa</option>
              <option value="480">Mylasandra</option>
              <option value="310">Chelekare</option>
              <option value="616">Cottonpet</option>
              <option value="254">3rd Block Banashankari</option>
              <option value="230">Canara Bank Colony</option>
              <option value="198">RMV Extension</option>
              <option value="174">Varanasi</option>
              <option value="582">Gowdanapalya</option>
              <option value="54">Immadihalli</option>
              <option value="744">Ashirvad Colony</option>
              <option value="789">Sector 6 HSR Layout</option>
              <option value="752">Byagadadhenahalli</option>
              <option value="757">Bikasipura</option>
              <option value="784">Palace Guttahalli</option>
              <option value="25">Maithri Layout</option>

              <option value="684">Kumarapalli</option>
              <option value="63">VGP Layout</option>
              <option value="476">Varsova Layout</option>
              <option value="729">Thanisandra main road</option>
              <option value="279">Hiremath Layout</option>
              <option value="192">BEL Road</option>
              <option value="152">Kurubarahalli</option>
              <option value="255">2nd Block Jayanagar</option>
              <option value="415">Doddanakundi Industrial Area 2</option>
              <option value="92">Brooke Bond First Cross</option>
              <option value="446">Kammagondahalli</option>
              <option value="548">Poornapragna Housing Society Layout</option>
              <option value="90">Suraksha Nagar</option>
              <option value="665">7th Block Jayanagar</option>
              <option value="537">Bileshivale</option>
              <option value="188">Kadugondanahalli</option>
              <option value="98">Amblipura</option>
              <option value="34">Akshya Nagar</option>
              <option value="572">Chinnapanahalli</option>
              <option value="569">Amruthnagar</option>
              <option value="604">Chikkadunnasandra</option>
              <option value="20">MCECHS  layout</option>
              <option value="455">Vishwapriya Nagar</option>
              <option value="244">Nagashetty Halli</option>
              <option value="809">Chennappa Layout</option>          <option value="628">KR Garden </option>
              <option value="295">Konanakunte Cross</option>
              <option value="32">Srinagar</option>
              <option value="506">Bettahalsoor</option>
              <option value="728">Sanne Amanikere</option>
              <option value="50">Shingapura</option>
              <option value="769">Coffee Board Layout</option>
              <option value="513">Anantapura</option>
              <option value="440">Pampa Extension</option>
              <option value="712">Mathikere Extension</option>
              <option value="530">Jnanabharathi Layout</option>
              <option value="753">Ferrar Nagar</option>
              <option value="8">Devanahalli Int. Airport</option>
              <option value="648">Adityanagar</option>
              <option value="162">BCC Layout</option>
              <option value="570">Belathur</option>
              <option value="456">Chikka Banaswadi</option>
              <option value="608">M V Extenstion</option>
              <option value="488">Anand Nagar</option>
              <option value="106">Jayanti Nagar</option>
              <option value="130">Himagiri Meadows</option>
              <option value="792">Sampangi Rama Nagar</option>
              <option value="137">Basava Nagar</option>
              <option value="226">Kathreguppe</option>
              <option value="320">T Dasarahalli</option>

              <option value="224"> Sadaramangala</option>
              <option value="322">Brindavan Nagar</option>
              <option value="473">Vadarpalya</option>
              <option value="465">Belatur</option>
              <option value="240">Vibhutipura Extension</option>
              <option value="585">Herohalli</option>
              <option value="601">Kengeri Hobli</option>
              <option value="394">NS Palya</option>
              <option value="248">Alur </option>
              <option value="256">Hegganahalli</option>
              <option value="96">Sarvabhouma Nagar</option>
              <option value="136">RR Layout</option>
              <option value="88">Harohalli</option>
              <option value="328">Tata Nagar</option>
              <option value="482">Ashwini layout</option>
              <option value="266">Devasandra Extension</option>
              <option value="649">Canara Bank Layout</option>
              <option value="233">Mallathahalli</option>
              <option value="250">Kachanayakanahalli</option>
              <option value="705">BSM Extension</option>
              <option value="64">Bagalur Main Road </option>
              <option value="161">Thurahalli</option>
              <option value="721">Nanjappa Layout</option>
              <option value="56">Muneshwara Nagar</option>
              <option value="113">St. John's Road</option>
              <option value="65">Aishwarya Crystal Layout</option>
              <option value="49">Doddagubbi</option>
              <option value="48">Basavanna Nagar</option>
              <option value="609"> Mysore Highway</option>
              <option value="795">Udaya Nagar</option>
              <option value="610">Ilyas Nagar</option>
              <option value="388">Devanahalli Road</option>
              <option value="716">Glass Factory Layout</option>
              <option value="700">P&T Layout</option>
              <option value="660">Sathya Layout</option>
              <option value="286">Tunganagara</option>
              <option value="620">5th Stage BEML Layout</option>
              <option value="612">Lavakusha Nagar</option>
              <option value="390">Jnana Ganga Nagar</option>
              <option value="398">Samethanahalli</option>
              <option value="532">HAL 3rd Stage</option>
              <option value="508">BHEL Layout</option>
              <option value="452">Suddaguntepalya</option>
              <option value="444">Atmananda Colony</option>
              <option value="380">Rajarajeshwari Nagara</option>
              <option value="166">Dodda Kempaiah Layout</option>
              <option value="494">Anand nagar</option>
              <option value="348">Konena Agrahara</option>
              <option value="526">Vinayak Nagar</option>
              <option value="645">Stage-4 Bommanahalli</option>
                                    
              <option value="558">Manorayana Palya</option>
              <option value="284">Makali</option>
              <option value="654">Tirumanahalli</option>
              <option value="686">Hennagara</option>
              <option value="726">Dollars Layout</option>
              <option value="196">Brindavan Layout</option>
              <option value="100">Devara Jeevanahalli</option>
              <option value="782">Kumbena Agrahara</option>
              <option value="222">Thippasandra</option>
              <option value="150">Lakshmi Layout</option>
              <option value="4">Bidadi</option>
              <option value="317">KR Layout</option>
              <option value="621">Vittal Nagar</option>
              <option value="613">Venkatadri Layout</option>
              <option value="597">RPC layout</option>
              <option value="653">Kithaganur</option>
              <option value="541">Vasanthpura</option>
              <option value="661">Singena Agrahara</option>
              <option value="493">Manjunath Nagar</option>
              <option value="669">Kirloskar Layout</option>
              <option value="445">Balaji Gardens Layout</option>
              <option value="429">Sanjeevini Nagar</option>
              <option value="709">Seshadripuram</option>
              <option value="333">Dr Shivarama Karantha Nagar</option>
              <option value="741">Lakshmiamma Garden</option>
              <option value="142">Agrahara Dasarahalli</option>
              <option value="749">Telecom Layout</option>
              <option value="765">Kavika Layout</option>
              <option value="773">Vyalikaval</option>
              <option value="229">Ayappa Nagar</option>
              <option value="189">Hosapalya</option>
              <option value="94">Hanumanth Nagar</option>
              <option value="101">Veerannapalya</option>
              <option value="93">Moodalapalya</option>
              <option value="126">RWF West Colony</option>
              <option value="45">Nobo Nagar</option>
              <option value="37">Gkvk Layout</option>
              <option value="5">8th Block Jayanagar</option>
              <option value="790">SMV layout</option>
              <option value="308">Dollar Scheme Colony</option>
              <option value="359">Sunkadakatte</option>
              <option value="175">Byadarahalli</option>
              <option value="3">B Channasandra</option>
              <option value="67">Harsha Layout</option>
              <option value="603">Baba Nagar</option>
              <option value="207">Race Course Road</option>
              <option value="223">Silver Springs Layout</option>
              <option value="75">Vivek Nagar</option>
              <option value="679">Rajarajeshwari nagar</option>
              <option value="515">Raghavendra Layout</option>
              
              <option value="671">Krishna Reddy Layout</option>
              <option value="483">Annaiah Reddy Layout</option>
              <option value="327">Gokula Extension</option>
              <option value="195">Surabhi Layout</option>
              <option value="335"> Thanisandra</option>
              <option value="387">AMS Layout</option>
              <option value="607">Tasker Town</option>
              <option value="383">Lottegolla Halli</option>
              <option value="283">RMV </option>
              <option value="323">Weavers Colony</option>
              <option value="711">Chikkathoguru</option>
              <option value="579">Upkar Layout</option>
              <option value="642">Thanisandra Main Road,</option>
              <option value="690">Kodipalya</option>
              <option value="794">Puttanahalli</option>
              <option value="87">Shankarapuram </option>
              <option value="767"> Rachenahalli</option>
              <option value="735">Harappanahalli</option>
              <option value="143">Dinnur</option>
              <option value="739">Sai Gardens</option>
              <option value="111">Pragathi Nagar</option>
              <option value="743">Bethel Nagar</option>
              <option value="706">Jayamahal</option>
              <option value="650">Raghavendra Nagar</option>
              <option value="731">Chikkasandra</option>
              <option value="722">1st Block HBR Layout</option>
              <option value="80">Arishinakunte </option>
              <option value="717">Guddadahalli</option>
              <option value="696">Shetty Halli</option>
              <option value="631">T.C PALYA</option>
              <option value="751">Virupakshapura</option>
              <option value="680">Kashi Nagar</option>
              <option value="104">Subash Nagar</option>
              <option value="583">2nd Stage Arekere Mico Layout</option>
              <option value="57">Dasappa Layout</option>
              <option value="6">Teachers Colony</option>
              <option value="78">Anjappa Layout</option>
              <option value="30">Thomas Town</option>
              <option value="22">5th Block Jayanagar</option>
              <option value="808">Classic Paradise Layout</option>
              <option value="797">Ullal Road</option>
              <option value="24">Ankappa Layout</option>
              <option value="781">Yarandahalli</option>
              <option value="677">Ramanashree Enclave</option>
              <option value="768">Patelappa Layout</option>
              <option value="687">Sampigehalli</option>
              <option value="519">D Group Employees Layout</option>
              <option value="693">Lakkasandra</option>
              <option value="733">Srinivas Colony</option>

              <option value="701">Anwar Layout</option>
              <option value="559">3rd Block Jayanagar</option>
              <option value="71">Suragajakkanahalli</option>
              <option value="463">Geleyara Balaga Layout</option>
              <option value="280">Rest House Road</option>
              dp
              <option value="472">Daadys Gaarden Layout</option>
              <option value="464">Kothnoor Dinne</option>
              <option value="151">Koramangala Industrial Layout</option>
              <option value="598">Venugopal Reddy Layout</option>
              <option value="606">Shanthi Layout</option>
              <option value="622">Anugrah Layout</option>
              <option value="424">Jayamahal Extension</option>
              <option value="272">Kadarenahalli</option>
              <option value="392">Green Garden Layout</option>
              <option value="502">Anjana Nagar</option>
              <option value="742">Mangammanapalya</option>
              <option value="766">Green Domain Layout</option>
              <option value="368">Ullal Uppanagar</option>
              <option value="774">Vaderahalli</option>
              <option value="296">Krishna Nagar</option>
              <option value="304">Hoodi Layout</option>
              <option value="806">Devarachikkanahalli</option>
              <option value="7">Challaghatta</option>
              <option value="199">JP Nagar 8th Phase,</option>
              <option value="496">Jinkethimmanahalli</option>
              <option value="144">Chokkanahalli</option>
              <option value="584">Shettigere</option>
              <option value="214">Sri Venkateshpura Layout</option>
              <option value="632">Chennammanakere Achukattu</option>
              <option value="391">Nanjappa Garden</option>
              <option value="238">V.V Puram</option>
              <option value="23">Muthurayya Swamy Layout</option>
              <option value="278">Gnana Bharathi</option>
              <option value="600">Gaurava Nagar</option>
              <option value="302">Someshwara Layout</option>
              <option value="318">Sadanand Nagar</option>
              <option value="512">Amarjyothi Colony</option>
              <option value="303">Soundarya Layout</option>
              <option value="414">Narayana Nagar 1st Block</option>
              <option value="271">Bendiganahalli</option>
              <option value="438">Hosakerehalli Layout</option>
              <option value="536">Janatha Colony</option>
              <option value="263">Marenahalli</option>
              <option value="462">Cleveland Town</option>
              <option value="486">KSRTC Layout</option>
              <option value="73">Indra Nagar</option>
              <option value="297">J C Nagar</option>
              <option value="629">Gidada Konnenahalli</option>
              <option value="292">Lal Bahadur Shastri Nagar</option>
              <option value="619">Ashok Nagar</option>

              <option value="635">Mahaganapathy Nagar</option>
              <option value="202">Govindaraja Nagar Ward</option>
              <option value="643">Gulimangala</option>
              <option value="651">Doddabidrakallu</option>
              <option value="178">Annapurneshwari Nagar</option>
              <option value="691">Kenchenhalli</option>
              <option value="699">CQAL Layout</option>
              <option value="707">JP Nagar 7th Phase,</option>
              <option value="715">Kumbalgodu</option>
              <option value="771">Shirdi Sai Layout</option>
              <option value="799">Ganesha Block</option>
              <option value="76">3rd Phase JP Nagar</option>
              <option value="82">Rajankunte</option>
              <option value="74">SRINIVASAPURA</option>
              <option value="140">Mariyannapalya</option>
              <option value="180">Dena Bank Colony</option>
              <option value="204">Jai Bheema Nagar</option>
              <option value="220">Friends Colony</option>
              <option value="18">Veersandra</option>
              <option value="252">Palanahalli</option>
              <option value="2">Arehalli</option>
              <option value="268">Hanumantha Nagar</option>
              <option value="276">Kamakya Layout</option>
              <option value="587">Crimson Layout</option>
              <option value="555">Naidu Layout</option>
              <option value="258">Bhagyalakshmi Avenue</option>
              <option value="211">SBM Colony</option>
              <option value="562">Vimanapura</option>
              <option value="698"> Electronic City</option>
              <option value="746">Andrahalli</option>
              <option value="754">Yeshwanthpur Industrial Suburb</option>
              <option value="514">Hadosiddapura</option>
              <option value="498">Coconut Garden</option>
              <option value="147">Domlur Layout</option>
              <option value="171">3rd Block Koramangala</option>
              <option value="187">Rajarajeshwarinagar</option>
              <option value="434">Hunasamaranahalli</option>
              <option value="203">Bhoopsandra</option>
              <option value="402">Kullappa Colony</option>
              <option value="274">Vibuthipura</option>
              <option value="315">Gattigere</option>
              <option value="386">Ramesh Nagar</option>
              <option value="378">Varthur Road,</option>
              <option value="370">BTM 4th Stage</option>
              <option value="362">Versova Layout</option>
              <option value="347">Gandhi Bazar</option>
              <option value="363">Syndicate Bank Colony</option>
              <option value="379">Upadhyaya Layout</option>
              <option value="314">Sri Balaji Krupa Layout</option>
              
              <option value="427">Nandini Layout</option>
              <option value="459">Chikku Lakshmaiah Layout</option>
              <option value="785">Jyothi Nagar</option>
              <option value="300">Panduranga Nagar</option>
              <option value="97">Omarbagh Layout</option>
              <option value="761">Ramchandrapuram</option>
              <option value="77">Vijinapura</option>
              <option value="149">Near International Airport</option>
              <option value="369">Bhuvaneswari Nagar</option>
              <option value="353">Electronic city Phase 1,</option>
              <option value="197">Lakshmipura</option>
              <option value="205">Rajapura</option>
              <option value="213">Esther Enclave Layout</option>
              <option value="269">Postal Colony</option>
              <option value="277">Tigalarpalya</option>
              <option value="618">manyata park</option>
              <option value="285">Chikkakannalli</option>
              <option value="281">Remco Bhel Layout</option>
              <option value="293">Koppa</option>
              <option value="265">Green Woods Layout</option>
              <option value="257">GD Layout</option>
              <option value="365">Chamundi Nagar</option>
              <option value="225">Veer Sandra</option>
              <option value="217">Church Street</option>
              <option value="381">Nandi Hills</option>
              <option value="193">Palace Road</option>
              <option value="177">Kaveri Nagar</option>
              <option value="485">Singanayakanahalli</option>
              <option value="517">RMV Extension Stage 2</option>
              <option value="557">MLA Layout</option>
              <option value="589">Garebhavipalya</option>
              <option value="69">Guni Agrahara</option>
              <option value="780">Gattahalli</option>
              <option value="772">Bidrahalli</option>
              <option value="556">Hallehalli</option>
              <option value="745">Celebrity Paradise Layout</option>
              <option value="737">Kannur</option>
              <option value="316">Govindapura</option>
              <option value="340">Neelamangala</option>
              <option value="713">Phase 1 Kammasandra</option>
              <option value="697">Marasandra</option>
              <option value="673">Kempapura</option>
              <option value="396">Sneha Colony</option>
              <option value="436"> south</option>
              <option value="641">Sri Sai Layout</option>
              <option value="468">Madavara</option>
              <option value="593">Dwarka Nagar</option>
              <option value="457">Uday Nagar</option>
              <option value="564">ECC Road</option>
              <option value="577">Manjunatha Layout</option>
                
              <option value="596">BCMC Layout</option>
              <option value="553">frazertown</option>
              <option value="636">Prashanth Nagar</option>
              <option value="644">Jaya Mahal layout</option>
              <option value="521">KEB Colony</option>
              <option value="676">Kothnur Narayanapura</option>
              <option value="481">Pulkeshi Nagar</option>
              <option value="724">Infantry Road</option>
              <option value="748">Hagadur</option>
              <option value="807">1st Block BEL Layout</option>
                   
                       

      </select><br>

    BHK:<br>
<input type="number" name="size" placeholder="BHK" required="required" /><br>

    Total square feet<br>
    <input type="number" name="total_sqft" placeholder="Total square feet" required="required" /><br>

    Bath room<br>
    <input type="number" name="bath" placeholder="bathroom" required="required" /><br>
    Balcony<br>
    <input type="number" name="balcony" placeholder="balcony" required="required" /><br>
    Price per square feet<br>
    <input type="number" name="price_per_sqft" placeholder="price per sqft" required="required" /><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

 </div>
</center>
</body>
</html>
