<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Bengalore House Price</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<style>
div {
  height: 50%;
  width: 400%;
}
</style>
<body><br>
  &emsp;&emsp;&emsp;&emsp;{{ prediction_text }}
<h5 style="color:violet;">&emsp;&emsp;&emsp;&emsp;&emsp;                     Predict Bangalore House Price</h5>
      
 <div class="login">
  
   <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict') }}"method="post">
    	<!-- <input type="number" name="area_type" placeholder="area_type" required="required" /> -->
     Area Type
          <select name="area_type"  style="width: 400px;">
              <option value="0">Super built-up  Area</option>
              <option value="1">Built-up  Area</option>
              <option value="2">Plot  Area</option>
              <option value="3">Carpet  Area</option>
          </select>
      
        <!-- <input type="number" name="availability" placeholder="availability" required="required" /> -->
      Availability
        <select name="availability" style="width: 400px;">
              <option value="0">Ready To Move</option>
              <option value="1">Immediate Possession</option>
              <option value="2">Not Available</option>
          </select>
      Location:<br>
 <select name="location" style="width: 400px;">
                            <option value="796">Whitefield </option>
              <option value="657">Sarjapur  Road</option>
              <option value="261">Electronic City</option>
              <option value="422">Kanakpura Road</option>
              <option value="801">Yelahanka</option>
              <option value="750">Uttarahalli</option>
              <option value="615">Raja Rajeshwari Nagar</option>
              <option value="727">Thanisandra</option>
              <option value="518">Marathahalli</option>
              <option value="324">Hebbal</option>
              <option value="124">Bannerghatta Road</option>
              <option value="319">Haralur Road</option>
              <option value="332">Hennur Road</option>
              <option value="262">Electronic City Phase II</option>
              <option value="36">7th Phase JP Nagar</option>
              <option value="181">Chandapura</option>
              <option value="138">Bellandur</option>
              <option value="395">KR Puram</option>
              <option value="135">Begur Road</option>
              <option value="338">Rajaji Nagar</option>
              <option value="617">Hoodi</option>
              <option value="805">Sarjapur</option>
              <option value="656">Yeshwanthpur</option>
              <option value="321">Harlur</option>
              <option value="426">Kasavanhalli</option>
              <option value="372">Jakkur</option>
              <option value="115">Banashankari</option>
              <option value="576">Old Madras Road</option>
              <option value="264">Electronics City Phase 1</option>
              <option value="439">Kengeri</option>
              <option value="461">Kothanur</option>
              <option value="343">Hormavu</option>
              <option value="627">Ramamurthy Naga</option>
              <option value="458">Varthur</option>
              <option value="759">Koramangala</option>
              <option value="367">JP Nagar</option>
              <option value="730">Thigalarapalya</option>
              <option value="718">TC Palaya</option>
              <option value="352">HSR Layout</option>
              <option value="165">Budigere</option>
              <option value="313">Hennur </option>
              <option value="344">Hosa Road</option>
              <option value="329">Hulimavu</option>
              <option value="51">Kaggadasapura </option>
              <option value="625">8th Phase JP Nagar </option>
              <option value="38">Ramagondanahalli</option>
              <option value="406">Akshaya Nagar</option>
              <option value="538">Mysore Road</option>
              <option value="385">Jigani </option>
              <option value="350">Hosur Road</option>

              <option value="611">Rachenahalli</option>
              <option value="510">Malleshwaram</option>
              <option value="156">Nagarbhavi</option>
              <option value="546">Bisuvanahalli</option>
              <option value="474">Kundalahalli</option>
              <option value="146">Vittasandra</option>
              <option value="791">Bhoganhalli</option>
              <option value="164">CV Raman Nagar</option>
              <option value="172">Brookefield</option>
              <option value="361">Indira Nagar</option>
              <option value="341">Horamavu Agara</option>
              <option value="112">Kudlu Gate</option>
              <option value="291">Gottigere</option>
              <option value="467">Balagere</option>
              <option value="326">Hegde Nagar</option>
              <option value="89">Attibele</option>
              <option value="779">Jalahalli</option>
              <option value="375">Vijayanagar</option>
              <option value="158">Bommasandra</option>
              <option value="31">Devanahalli</option>
              <option value="802">Subramanyapura</option>
              <option value="708">Channasandra</option>
              <option value="183">Yelahanka New Town</option>
              <option value="221">5th Phase JP Nagar</option>
              <option value="41">9th Phase JP Nagar</option>
              <option value="586">Kengeri Satellite Town</option>
              <option value="441">Panathur</option>
              <option value="421">Kanakapura</option>
              <option value="70">Bommanahalli</option>
              <option value="157">Anekal</option>
              <option value="647">Sahakara Nagar</option>
              <option value="404">Kadugodi</option>
              <option value="575">Old Airport Road</option>          <option value="298">Green Glen Layout</option>
              <option value="129">Basavangudi</option>
              <option value="776">Vidyaranyapura</option>
              <option value="194">Chikkalasandra</option>
              <option value="267">Frazer Town</option>
              <option value="234">Ambedkar Nagar</option>
              <option value="720">Ananth Nagar</option>
              <option value="740">Tumkur Road</option>
              <option value="60">Dodda Nekkundi</option>
              <option value="68">Talaghattapura</option>
              <option value="448">Hebbal Kempapura</option>
              <option value="689">Kodichikkanahalli</option>
              <option value="466">Singasandra</option>
              <option value="325">Kudlu</option>
              <option value="103">BTM 2nd Stage</option>
              <option value="246">Lakshminarayana Pura</option>
              <option value="484">Doddathoguru</option>

              <option value="342">Horamavu Banaswadi</option>
              <option value="419">Kammasandra</option>
              <option value="201">Choodasandra</option>
              <option value="117">R.T. Nagar</option>
              <option value="602">Babusapalaya</option>
              <option value="107">Banashankari Stage III</option>
              <option value="409">Kogilu</option>
              <option value="520">Iblur Village</option>
              <option value="453">Mahadevpura</option>
              <option value="358">Kothannur</option>
              <option value="460">Margondanahalli</option>
              <option value="501">Kalena Agrahara</option>
              <option value="346">Gunjur</option>
              <option value="305">Anandapura</option>
              <option value="667">Seegehalli</option>
              <option value="12">1st Phase JP Nagar</option>
              <option value="66">Hosakerehalli</option>
              <option value="62">Ambalipura</option>
              <option value="251">Domlur</option>
              <option value="580">EPIP Zone</option>
              <option value="633">Rayasandra</option>
              <option value="155">Amruthahalli</option>
              <option value="58">Binny Pete</option>
              <option value="259">Padmanabhanagar</option>
              <option value="500">Magadi Road</option>
              <option value="471">Munnekollal</option>
              <option value="432">Kumaraswami Layout</option>
              <option value="47">2nd Stage Nagarbhavi</option>
              <option value="79">Abbigere</option>
              <option value="19">Kaval Byrasandra</option>
              <option value="534">Kambipura</option>
              <option value="416">Ardendale</option>
              <option value="430">Kathriguppe</option>
              <option value="491">Bommasandra Industrial Area</option>
              <option value="33">Battarahalli</option>
              <option value="159">6th Phase JP Nagar</option>
              <option value="133">Poorna Pragna Layout</option>
              <option value="594">Lingadheeranahalli</option>
              <option value="123">Bannerghatta</option>
              <option value="301">Pai Layout</option>
              <option value="581">Gubbalala</option>
              <option value="692">HBR Layout</option>
              <option value="412">HRBR Layout</option>
              <option value="349">Thubarahalli</option>
              <option value="309">Somasundara Palya</option>
              <option value="734">Hoskote</option>
              <option value="312">Kalyan nagar</option>
              <option value="116">Kereguddadahalli</option>
              <option value="275">Parappana Agrahara</option>
              <option value="652">Judicial Layout</option>
              
              <option value="389">Sanjay nagar</option>
              <option value="442">Banashankari Stage II</option>
              <option value="588">Arekere</option>
              <option value="81">Garudachar Palya</option>
              <option value="695">Malleshpalya</option>
              <option value="105">OMBR Layout</option>
              <option value="407">Sector 2 HSR Layout</option>
              <option value="509">Ulsoor</option>
              <option value="573">Sarjapura - Attibele Road</option>
              <option value="747">Sonnenahalli</option>
              <option value="659">Kaggalipura</option>
              <option value="664">BTM Layout</option>
              <option value="134">Anjanapura</option>
              <option value="154">Kasturi Nagar</option>
              <option value="437">Begur</option>
              <option value="72">Billekahalli</option>
              <option value="800">Yelachenahalli</option>
              <option value="507"> Devarachikkanahalli</option>
              <option value="428">Kenchenahalli</option>
              <option value="120">Nagavara</option>
              <option value="1">Mallasandra</option>
              <option value="549">Banaswadi</option>
              <option value="376">BEML Layout</option>
              <option value="535">Chamrajpet</option>
              <option value="99">Basaveshwara Nagar</option>
              <option value="253">Bommenahalli</option>
              <option value="666">Neeladri Nagar</option>
              <option value="710">Dommasandra</option>
              <option value="131">Kannamangala</option>
              <option value="160">Sector 7 HSR Layout</option>
              <option value="179">Jalahalli East</option>
              <option value="563">Sultan Palaya</option>
              <option value="423">Murugeshpalya</option>
              <option value="357">Vasanthapura</option>
              <option value="212">ITPL</option>
              <option value="118">Chikka Tirupathi</option>
              <option value="449">Giri Nagar</option>
              <option value="190">Kodigehaali</option>
              <option value="282">Kaikondrahalli</option>
              <option value="764">Cunningham Road</option>
              <option value="408">Banashankari Stage V</option>
              <option value="547">Gollarapalya Hosahalli</option>
              <option value="655">Yelenahalli</option>
              <option value="10">Kammanahalli</option>
              <option value="529">Prithvi Layout</option>
              <option value="403">Nagasandra</option>
              <option value="288">Tindlu</option>
              <option value="191">Dasanapura</option>
              <option value="760">NRI Layout</option>
              <option value="216">LB Shastri Nagar</option>

              <option value="624">Sarakki Nagar</option>
              <option value="803">Rajiv Nagar</option>
              <option value="478">Doddakallasandra</option>
              <option value="418">Kadubeesanahalli</option>
              <option value="241">ISRO Layout</option>
              <option value="540">Mico Layout</option>
              <option value="355">Chikkabanavar</option>
              <option value="738">1st Block Jayanagar</option>
              <option value="599">Varthur Road</option>
              <option value="543">Naganathapura</option>
              <option value="208">Shivaji Nagar</option>
              <option value="565">Bharathi Nagar</option>
              <option value="145">Kodihalli</option>
              <option value="451">Shampura</option>
              <option value="670">Cooke Town</option>
              <option value="236">Benson Town</option>
              <option value="141">Badavala Nagar</option>
              <option value="210">Nehru Nagar</option>
              <option value="681">Cox Town</option>
              <option value="108">Doddaballapur</option>
              <option value="539">Konanakunte</option>
              <option value="215">2nd Phase Judicial Layout</option>
              <option value="125">Sompura</option>
              <option value="694">GM Palaya</option>
              <option value="397">AECS Layout</option>
              <option value="591">Dasarahalli</option>
              <option value="95">Thyagaraja Nagar</option>
              <option value="29">Narayanapura</option>
              <option value="218">Dairy Circle</option>
              <option value="119">Nagavarapalya</option>
              <option value="454">B Narayanapura</option>
              <option value="43">BTM 1st Stage</option>
              <option value="560">KUDLU MAIN ROAD</option>
              <option value="542">NGR Layout</option>
              <option value="550">Peenya</option>
              <option value="592">Banashankari Stage VI</option>
              <option value="17">Chennammana Kere</option>
              <option value="270">Nagadevanahalli</option>
              <option value="102">5th Block Hbr Layout</option>
              <option value="736">Pattandur Agrahara</option>
              <option value="522">Basapura</option>
              <option value="186">Marsur</option>
              <option value="121">Dollars Colony</option>
              <option value="249">Kalkere</option>
              <option value="793">Basavanapura</option>
              <option value="128">Akshayanagara East</option>
              <option value="410">Kaverappa Layout</option>
              <option value="425">Sathya Sai Layout</option>
              <option value="307">Banjara Layout</option>
              <option value="354">Dodsworth Layout</option>
               
              <option value="53">Kodbisanhalli</option>
              <option value="433">Ejipura</option>
              <option value="674">HAL 2nd Stage</option>
              <option value="447">Vishwanatha Nagenahalli</option>
              <option value="114">Kamakshipalya</option>
              <option value="787">Shanti Nagar</option>
              <option value="786">Karuna Nagar</option>
              <option value="247">Vishveshwarya Layout</option>
              <option value="662">Volagerekallahalli</option>
              <option value="260">Huskur</option>
              <option value="646">Richmond Town</option>
              <option value="638">Banagiri Nagar</option>
              <option value="413">Sadashiva Nagar</option>
              <option value="52">Gollahalli</option>
              <option value="16">Ittamadu</option>
              <option value="732">Mathikere</option>
              <option value="182">Vasanth nagar</option>
              <option value="287">Green View Layout</option>
              <option value="762">Laggere</option>
              <option value="658">Gopalkrishna Nagar</option>
              <option value="503">Vijaya Bank Layout</option>
              <option value="351">Ramakrishnappa Layout</option>
              <option value="668">Cholanayakanahalli</option>
              <option value="299">Akshaya Vana</option>
              <option value="554">Cambridge Layout</option>
              <option value="525">HOSUR MAIN ROAD</option>
              <option value="200">Kundalahalli Colony</option>
              <option value="173">Thirumenahalli</option>
              <option value="364">Nallurhalli</option>
              <option value="311">2nd Phase JP Nagar</option>
              <option value="475">Kodigehalli</option>
              <option value="778">Sarjapur Road,</option>
              <option value="544">Mahalakshmi Layout</option>
              <option value="219">Nagappa Reddy Layout</option>
              <option value="626">Hoysalanagar</option>
              <option value="777">Basaveshwara Nagar Yelahanka</option>
              <option value="290">Chandra Layout</option>
              <option value="168">Seetharampalya</option>
              <option value="788">Defence Colony</option>
              <option value="479">Byatarayanapura</option>
              <option value="132">Vishwapriya Layout</option>
              <option value="450">Vignana Nagar</option>
              <option value="306">Manayata Tech Park</option>
              <option value="499">Yemlur</option>
              <option value="231">Abbaiah Reddy Layout</option>
              <option value="566">Sector 1 HSR Layout</option>
              <option value="756">ITI Layout</option>
              <option value="9">Bhuvaneshwari Nagar</option>
              <option value="678">2nd Block Hrbr Layout</option>
              <option value="578">Madiwala</option>
            

</select>
              
          </select>
    <!-- Location:<input type="text" name="location" placeholder="location" required="required" /> -->
    BHK<input type="number" name="size" placeholder="BHK" required="required" />
    Total square feet
		<input type="number" name="total_sqft" placeholder="Total square feet" required="required" />
    Bath room<br>
		<input type="number" name="bath" placeholder="bathroom" required="required" />
    Balcony<br>
		<input type="number" name="balcony" placeholder="balcony" required="required" />
    Price per square feet<br>
		<input type="number" name="price_per_sqft" placeholder="price per sqft" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

 </div>

</body>
</html>
