<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Bengalore House Price</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<style>
div {
  height: 50%;
  width: 400%;
}
</style>
<body><br>
  &emsp;&emsp;&emsp;&emsp;{{ prediction_text }}
<h5 style="color:violet;">&emsp;&emsp;&emsp;&emsp;&emsp;                     Predict Bangalore House Price</h5>
      
 <div class="login">
  
   <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict') }}"method="post">
    	<!-- <input type="number" name="area_type" placeholder="area_type" required="required" /> -->
     Area Type
          <select name="area_type"  style="width: 400px;">
              <option value="0">Super built-up  Area</option>
              <option value="1">Built-up  Area</option>
              <option value="2">Plot  Area</option>
              <option value="3">Carpet  Area</option>
          </select>
      
        <!-- <input type="number" name="availability" placeholder="availability" required="required" /> -->
      Availability
        <select name="availability" style="width: 400px;">
              <option value="0">Ready To Move</option>
              <option value="1">Immediate Possession</option>
              <option value="2">Not Available</option>
          </select>
      Location:<br>
 <select name="location" style="width: 400px;">
              <option value="796">Whitefield</option>
              <option value="657">Sarjapur  Road</option>
              <option value="261">Electronic City</option>
              <option value="422">Kanakpura Road</option>
              <option value="801">Thanisandra</option>
              <option value="750">Yelahanka</option>
              <option value="615">Uttarahalli</option>
              <option value="727">Hebbal</option>
              <option value="518">Marathahalli</option>
              <option value="324">Raja Rajeshwari Nagar</option>

              <option value="124">Hennur Road </option>
              <option value="319">Bannerghatta Road</option>
              <option value="332">7th Phase JP Nagar </option>
              <option value="262">Haralur Road </option>
              <option value="36">Electronic City Phase II</option>
              <option value="181">Rajaji Nagar</option>
              <option value="138">Chandapura</option>
              <option value="395">Bellandur</option>
              <option value="135">KR Puram </option>
              <option value="338">Electronics City Phase 1</option>

              <option value="617">Hoodi</option>
              <option value="805">Yeshwanthpur</option>
              <option value="656">Begur Road</option>
              <option value="321">Sarjapur</option>
              <option value="426">Kasavanhalli</option>
              <option value="372">Harlur</option>
              <option value="115">Banashankari</option>
              <option value="576">Hormavu</option>
              <option value="264">Ramamurthy Nagar</option>
              <option value="439">Kengeri</option>

              <option value="461">Koramangala</option>
              <option value="343">Hosa Road</option>
              <option value="627">JP Nagar</option>
              <option value="458">Jakkur</option>
              <option value="759">Old Madras Road</option>
              <option value="367">Varthur</option>
              <option value="730">Kothanur</option>
              <option value="718">Kaggadasapura</option>
              <option value="352">Nagarbhavi</option>
              <option value="165">Thigalarapalya</option>

              <option value="313">Akshaya Nagar</option>
              <option value="344">TC Palaya </option>
              <option value="329">Malleshwaram</option>
              <option value="51">8th Phase JP Nagar</option>
              <option value="625">Rachenahalli</option>
              <option value="38">Hennur</option>
              <option value="406">Budigere</option>
              <option value="538">Jigani</option>
              <option value="385">HSR Layout</option>
              <option value="350">Hulimavu</option>

              <option value="611">Jalahalli</option>
              <option value="510">Bisuvanahalli</option>
              <option value="156">Mysore Road</option>
              <option value="546">Ramagondanahalli</option>
              <option value="474">Hegde Nagar</option>
              <option value="146">Bhoganhalli</option>
              <option value="791">Gottigere</option>
              <option value="164">Hosur Road</option>
              <option value="172">HSR Layout</option>
              <option value="361">Kundalahalli</option>
              <option value="341">Brookefield</option>
              <option value="112">Devanahalli</option>
              <option value="291">Balagere</option>
              <option value="467">Indira Nagar </option>
              <option value="326">Subramanyapura</option>
              <option value="89">Vittasandra</option>
              <option value="779">CV Raman Nagar</option>
              <option value="375">9th Phase JP Nagar </option>
              <option value="158">Vidyaranyapura</option>
              <option value="31">Horamavu Agara</option>

              <option value="802">Kadugodi</option>
              <option value="708">Vijayanagar</option>
              <option value="183">Kanakapura</option>
              <option value="221">Attibele</option>
              <option value="41">Yelahanka New Town</option>
              <option value="586">Kengeri Satellite Town</option>
              <option value="441">Talaghattapura</option>
              <option value="421">5th Phase JP Nagar</option>
              <option value="70">Green Glen Layout</option>
              <option value="157">Sahakara Nagar</option>

              <option value="647">Kudlu Gate</option>
              <option value="404">Channasandra</option>
              <option value="575">Bommasandra</option>
              <option value="298">Frazer Town</option>
              <option value="129">R.T. Nagar</option>
              <option value="776">Lakshminarayana Pura</option>
              <option value="194">Anekal</option>
              <option value="267">Hosakerehalli</option>
              <option value="234">Bommanahalli</option>
              <option value="720">Hebbal Kempapura</option>

              <option value="740">Tumkur Road</option>
              <option value="60">Kalena Agrahara</option>
              <option value="68">Old Airport Road</option>
              <option value="448">Ambedkar Nagar</option>
              <option value="689">Mahadevpura</option>
              <option value="466">Basavangudi</option>
              <option value="325">Doddathoguru</option>
              <option value="103">Kumaraswami Layout</option>
              <option value="246">Chikkalasandra</option>
              <option value="484">Ananth Nagar</option>

              <option value="342">BTM 2nd Stage</option>
              <option value="419">Kammasandra</option>
              <option value="201">Kudlu</option>
              <option value="117">Dodda Nekkundi</option>
              <option value="602">Padmanabhanagar</option>
              <option value="107">Horamavu Banaswadi</option>
              <option value="409">Somasundara Palya</option>
              <option value="520">Singasandra</option>
              <option value="453">Anandapura</option>
              <option value="358">Kodichikkanahalli</option> -->

              <option value="460">Ambalipura</option>
              <option value="501">Banashankari Stage III</option>
              <option value="346">Gubbalala</option>
              <option value="305">Bommasandra Industrial Area</option>
              <option value="667">Kothannur</option>
              <option value="12">Margondanahalli</option>
              <option value="66">Choodasandra</option>
              <option value="62">Seegehalli</option>
              <option value="251">1st Phase JP Nagar</option>
              <option value="580">Babusapalaya</option>

              <option value="633">Kogilu</option>
              <option value="155">Iblur Village</option>
              <option value="58">Magadi Road </option>
              <option value="259">Munnekollal</option>
              <option value="500">Kambipura</option>
              <option value="471">Abbigere</option>
              <option value="432">Ardendale</option>
              <option value="47">Battarahalli</option>
              <option value="79">2nd Stage Nagarbhavi</option>
              <option value="19">Amruthahalli</option>

              <option value="534">Lingadheeranahalli</option>
              <option value="416">EPIP Zone</option>
              <option value="430">6th Phase JP Nagar</option>
              <option value="491">Domlur</option>
              <option value="33">Gunjur</option>
              <option value="159">Thubarahalli</option>
              <option value="133">Sonnenahalli</option>
              <option value="594">Rayasandra</option>
              <option value="123">Hoskote</option>
              <option value="301">Kaval Byrasandra</option>

              <option value="581">Kathriguppe</option>
              <option value="692">Ulsoor</option>
              <option value="412">Binny Pete</option>
              <option value="349">Basaveshwara Nagar</option>
              <option value="309">Poorna Pragna Layout</option>
              <option value="734">Sanjay nagar</option>
              <option value="312">Yelachenahalli</option>
              <option value="116">HBR Layout</option>
              <option value="275">Kalyan nagar</option>
              <option value="652">Pai Layout</option>

              <option value="389">Kaggalipura</option>
              <option value="442">HRBR Layout</option>
              <option value="588">OMBR Layout</option>
              <option value="81">Bannerghatta</option>
              <option value="695">Billekahalli</option>
              <option value="105">Garudachar Palya</option>
              <option value="407">Kannamangala</option>
              <option value="509">Dasarahalli</option>
              <option value="573">Sarjapura - Attibele Road</option>
              <option value="747">Malleshpalya</option>

              <option value="659">Arekere</option>
              <option value="664">Chikka Tirupathi</option>
              <option value="134">Kammanahalli</option>
              <option value="154">Kaikondrahalli</option>
              <option value="437">BTM Layout </option>
              <option value="72">Nagavara</option>
              <option value="800">Begur</option>
              <option value="507">Mallasandra</option>
              <option value="428">Anjanapura</option>
              <option value="120">Parappana Agrahara</option>

              <option value="1">Judicial Layout</option>
              <option value="549">Cooke Town</option>
              <option value="376">Kereguddadahalli</option>
              <option value="535">Kasturi Nagar</option>
              <option value="99">Kenchenahalli</option>
              <option value="253">Banaswadi</option>
              <option value="666">Sector 2 HSR Layout</option>
              <option value="710">Banashankari Stage II</option>
              <option value="131">Banashankari Stage VI</option>
              <option value="160">Dasanapura</option>

              <option value="179">Kodihalli</option>
              <option value="563">Varthur Road</option>
              <option value="423">Chamrajpet</option>
              <option value="357">Benson Town</option>
              <option value="212">Nagavarapalya</option>
              <option value="118"> Devarachikkanahalli</option>
              <option value="449">Doddakallasandra</option>
              <option value="190">Sarakki Nagar</option>
              <option value="282">NRI Layout</option>
              <option value="764">Giri Nagar</option>

              <option value="408">NGR Layout</option>
              <option value="547">1st Block Jayanagar</option>
              <option value="655">Jalahalli East</option>
              <option value="10">Murugeshpalya</option>
              <option value="529">Sultan Palaya</option>
              <option value="403">Kadubeesanahalli</option>
              <option value="288">Bommenahalli</option>
              <option value="191">Prithvi Layout</option>
              <option value="760">Gollarapalya Hosahalli</option>
              <option value="216">Konanakunte</option>

              <option value="624">Shampura</option>
              <option value="803">Rajiv Nagar</option>
              <option value="478">Chikkabanavar</option>
              <option value="418">Yelenahalli</option>
              <option value="241">Mahalakshmi Layout</option>
              <option value="540">Cunningham Road</option>
              <option value="355">Neeladri Nagar</option>
              <option value="738">Vishveshwarya Layout</option>
              <option value="599">ISRO Layoutt</option>
              <option value="543">Sector 7 HSR Layout</option>

              <option value="208">Dommasandra</option>
              <option value="565">Shivaji Nagar</option>
              <option value="145">Kodigehaali</option>
              <option value="451">BEML Layout</option>
              <option value="670">Doddaballapur</option>
              <option value="236">Sompura</option>
              <option value="141">AECS Layout</option>
              <option value="210">Badavala Nagar</option>
              <option value="681">ITPL</option>
              <option value="108">5th Block Hbr Layout</option>

              <option value="539">Vasanthapura</option>
              <option value="215">Laggere</option>
              <option value="125">Karuna Nagar</option>
              <option value="694">Bharathi Nagar</option>
              <option value="397">Banashankari Stage V</option>
              <option value="591">Nagasandra</option>
              <option value="95">Cox Town</option>
              <option value="29">Mico Layout</option>
              <option value="218">Vishwapriya Layout</option>
              <option value="119">GM Palaya</option>

              <option value="454">Tindlu</option>
              <option value="43">Thyagaraja Nagar</option>
              <option value="560">Kodigehalli</option>
              <option value="542">Banjara Layout</option>
              <option value="550">Nehru Naga</option>
              <option value="592">LB Shastri Nagar</option>
              <option value="17">HAL 2nd Stage</option>
              <option value="270">Marsur</option>
              <option value="102">2nd Phase Judicial Layout</option>
              <option value="736">Pattandur Agrahara</option>

              <option value="522">Narayanapura</option>
              <option value="186">Nagappa Reddy Layout</option>
              <option value="121">Dodsworth Layout</option>
              <option value="249">1st Block Koramangalar</option>
              <option value="793">Nagadevanahalli</option>
              <option value="128">Naganathapura</option>
              <option value="410">Basapura</option>
              <option value="425">Kalkere</option>
              <option value="307">Gunjur Palya</option>
              <option value="354">Dairy Circle</option>

              <option value="53">BTM 1st Stage </option>
              <option value="433">Ganga Nagar</option>
              <option value="674">Sadashiva Nagar</option>
              <option value="447">B Narayanapura</option>
              <option value="114">Peenya</option>
              <option value="787">4th Block Koramangala</option>
              <option value="786">Volagerekallahalli</option>
              <option value="247">Jakkur Plantation</option>
              <option value="662">Chandra Layout</option>
              <option value="260">Chennammana Kere</option>

              <option value="646">Banagiri Nagar</option>
              <option value="638">Vignana Nagar</option>
              <option value="413">Yemlur</option>
              <option value="52">KUDLU MAIN ROAD</option>
              <option value="16">Lingarajapuram</option>
              <option value="732">Ejipura</option>
              <option value="182">Medahalli</option>
              <option value="287">Kamakshipalya</option>
              <option value="762">Gollahalli</option>
              <option value="658">Sector 1 HSR Layout</option>

              <option value="503">Richmond Town</option>
              <option value="351">Kaverappa Layout</option>
              <option value="668">Vishwanatha Nagenahalli</option>
              <option value="299">2nd Phase JP Nagar</option>
              <option value="554">Mathikere</option>
              <option value="525">Nelamangala</option>
              <option value="200">Sidedahalli</option>
              <option value="173">Shikaripalya</option>
              <option value="364">Kodbisanhalli</option>
              <option value="311">Basavanapura</option>

              <option value="475">Byadarahalli</option>
              <option value="778">Thirumenahalli</option>
              <option value="544">Akshayanagara East</option>
              <option value="219">Sarjapur Road,</option>
              <option value="626">Seetharampalya</option>
              <option value="777">Mahalakshmi Puram</option>
              <option value="290">Sathya Sai Layout</option>
              <option value="168">Vasanth nagar</option>
              <option value="788">Shanti Nagar</option>
              <option value="479">Cambridge Layout</option>
              <option value="132">Dollars Colony</option>
              <option value="450">Hoysalanagar</option>
              <option value="306">Akshaya Vana</option>
              <option value="499">Roopena Agrahara</option>
              <option value="231">Vajarahalli</option>
              <option value="566">Manayata Tech Park</option>
              <option value="756">Dodda Nekkundi Extension</option>
              <option value="9">Ittamadu</option>
              <option value="678">Huskur</option>
              <option value="578">Kanaka Nagar</option>

              <option value="91">Outer Ring Road East</option>
              <option value="334">Kattigenahalli</option>
              <option value="497">Nallurhalli</option>
              <option value="26">Gopalkrishna Nagar </option>
              <option value="634">MS Pallya</option>
              <option value="28">1st Block HRBR Layout</option>
              <option value="14">Hongasandra</option>
              <option value="775">Jalahalli West</option>
              <option value="109">Reliaable Tranquil Layout</option>
              <option value="148">Maruthi Sevanagar</option>
              <option value="798">Richards Town</option>
              <option value="11">Doctors Layout</option>
              <option value="273">Ashwath Nagar</option>
              <option value="235">Bank Of Baroda Colony</option>
              <option value="46">Doddabommasandra</option>
              <option value="245">Victoria Layout</option>
              <option value="623">2nd Block Hrbr Layout</option>
              <option value="39">Vijaya Bank Layout</option>
              <option value="184">Singapura Village</option>
              <option value="688">Ambedkar Colony</option>
              <option value="804">3rd Block Hrbr Layout</option>
              <option value="242">Hennur Gardens</option>
              <option value="725">AGS Layout</option>
              <option value="663">Green View Layout</option>
              <option value="331">Madiwala</option>
              <option value="356">Byrasandra</option>
              <option value="431">Defence Colony</option>
              <option value="373">Jayanagar</option>
              <option value="511">Jeevan bima nagar</option>
              <option value="228">Keshava Nagar</option>
              <option value="492">Hessarghatta</option>
              <option value="399">Channasandra Layout</option>
              <option value="523">Doddakammanahalli</option>
              <option value="44">RMV 2nd Stage</option>
              <option value="420">Hoodi Circle,</option>
              <option value="683">Kundalahalli Colony</option>
              <option value="170">HOSUR MAIN ROAD</option>
              <option value="42">Cholanayakanahalli</option>
              <option value="176">8th block Koramangala</option>
              <option value="675">Ramakrishnappa Layout</option>
              <option value="531">Wilson Garden</option>
              <option value="527">Canara Bank Colony</option>
              <option value="337">4th T block Jayanagar</option>
              <option value="239">Austin Town</option>
              <option value="110">Tejaswini Naga</option>
              <option value="139">Basaveshwara Nagar Yelahanka</option>
              <option value="702">Byatarayanapura</option>
              <option value="533">Siddapura</option>
              <option value="516">Dodda Banaswadi</option>
              <option value="59">Devasthanagalu</option>
<option value="630">Kacharakanahalli</option>
              <option value="614">Srinivasa Nagar</option>
              <option value="590">Kumara Park</option>
              <option value="86">Bagalakunte</option>
              <option value="704">Nagawara Junction</option>
              <option value="672">Gopalapura</option>
              <option value="469">Doddanekundi</option>
              <option value="574">Abbaiah Reddy Layout</option>
              <option value="206">Doddanakundi Industrial Area 2</option>
              <option value="640">New Thippasandra</option>
              <option value="294">Hennur Bande</option>
              <option value="504">Shree Ananth Nagar Layout</option>
              <option value="374">Suraksha Nagar</option>
              <option value="382">Doddakannelli</option>
              <option value="568">Byrathi Village</option>
              <option value="552">Amblipura</option>
              <option value="528"> Devarabeesana Halli</option>
              <option value="169">Venkatapura</option>
              <option value="637">Samethanahalli</option>
              <option value="339">Shantiniketan Layout</option>
              <option value="377">Chelekare</option>
              <option value="524">Ashwathnagar</option>
              <option value="561">Rustam Bagh Layout</option>
              <option value="545">Bhuvaneshwari Nagar</option>
              <option value="443">Srirampura</option>
              <option value="551">ITI Layout</option>
              <option value="567">Nayandanahalli</option>
              <option value="330">Rajiv Gandhi Nagar</option>
              <option value="232">Ashirvad Colony</option>
              <option value="371">Meenakunte</option>
              <option value="13">Bileshivale</option>
              <option value="21">Varanasi</option>
              <option value="227">Anand Nagar</option>
              <option value="401">Maragondanahalli</option>
              <option value="127">Motappa Layout</option>
              <option value="122">A Narayanapura</option>
              <option value="289">Hiremath Layout</option>
              <option value="639">Raghuvanahalli</option>
              <option value="345">Maithri Layout</option>
              <option value="495">Nagaraja Garden</option>
              <option value="755">Carmelaram</option>
              <option value="243">Amruthnagar</option>
              <option value="595">Hosahalli Extension</option>
              <option value="703">Govindpura</option>
              <option value="723">Silk Board</option>
              <option value="487">Avalahalli</option>
              <option value="411">Jakkasandra Extension</option>
              <option value="783">Chikkadunnasandra</option>
              <option value="682">HMT Layout</option>
              <option value="770">Mallathahalli</option> -->

              <option value="770">6th block Koramangala</option>
              <option value="770">3rd Block Banashankari</option>
              <option value="770">Maruthi Nagar</option>
              <option value="770">Pattanagere</option>
              <option value="770">Attur Layout</option>
              <option value="770">Shanthala Nagar</option>
              <option value="770">Nagashetty Halli</option>
              <option value="770">Kallumantapa</option>
              <option value="770">Bellari Road</option>
              <option value="770">VGP Layout</option>
              <option value="770">Devi Nagar</option>
              <option value="770">RMV Extension</option>
              <option value="770">Bagalur</option>
              <option value="770">1st Stage Indira Nagar</option>
              <option value="770">Sunkadakatte</option>
              <option value="770">Kadugondanahalli</option>
              <option value="770">7th Block Jayanagar</option>
              <option value="770">Off Sarjapur Road,</option>
              <option value="770">Srirampuram</option>
              <option value="770">Byagadadhenahalli</option>
              <option value="770">Ramanjaneyanagar</option>
              <option value="770">Basavanagara</option>
              <option value="770">Munivenkatppa Layout</option>
              <option value="770">Coconut Grove Layout</option>
              <option value="770">KR Garden</option>
              <option value="770">Stage-4 Bommanahalli</option>
              <option value="770">Jakkuru Layout</option>
              <option value="770">Doddabanahalli</option>
              <option value="770">Kada Agrahara</option>
              <option value="770">Lavelle Road</option>
              <option value="770">Vasantha Vallabha Nagar</option>
              <option value="770">9th Block Jayanagar</option>
              <option value="770">Nagondanahalli</option>
              <option value="770">New Gurappana Palya</option>
              <option value="770">Vishwapriya Nagar</option>
              <option value="770">Cottonpet</option>
              <option value="770">Virat Nagar</option>
              <option value="770">Kurubarahalli</option>
              <option value="770">Belathur</option>
              <option value="770">Akshya Nagar</option>
              <option value="770">Doopanahalli</option>
              <option value="770">Kadabagere</option>
              <option value="770">Glass Factory Layout</option>
              <option value="770">Silver Springs Layou</option>
              <option value="770">Puttanahalli</option>
              <option value="770">Dooravani Nagar</option>
              <option value="770">Langford Town</option>
              <option value="770">Tata Nagar</option>
              <option value="770">NS Palya</option>
              <option value="770">Mylasandra</option>
</select>
              
          </select>
    <!-- Location:<input type="text" name="location" placeholder="location" required="required" /> -->
    BHK<input type="number" name="size" placeholder="BHK" required="required" />
    Total square feet
		<input type="number" name="total_sqft" placeholder="Total square feet" required="required" />
    Bath room<br>
		<input type="number" name="bath" placeholder="bathroom" required="required" />
    Balcony<br>
		<input type="number" name="balcony" placeholder="balcony" required="required" />
    Price per square feet<br>
		<input type="number" name="price_per_sqft" placeholder="price per sqft" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

 </div>

</body>
</html>
